#about{
    min-height: 800px;
}

.background-gradient-black-to-silver{
    background: linear-gradient(180deg, 
    rgb(0, 0, 0) 20%, 
    rgb(71, 71, 71) 70%, 
    rgb(121, 121, 121) 85%, 
    silver 100%);
}

.container-about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    margin: 0 24px;

    --front-image-size: 300px;
    --front-image-size-hover: 330px;
    --front-image-box-shadow: 15px;
    --back-image-size: 320px;
    --back-image-size-hover: 340px;
    --back-image-box-shadow: 20px;
}

.image-container{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 450px;

    img{
        position: absolute;
        object-fit: cover;
        object-position: center;
        
        border-radius: 15px;

        transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    .front-image{
        width: var(--front-image-size);

        opacity: 0;

        filter: blur(5px);

        transform: translateX(-100%) rotate(-40deg);
        transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
        transition-delay: 400ms;

        z-index: 13;
    }

    .front-image:hover{
        width: var(--front-image-size-hover);

        box-shadow: 0 0 150px rgb(252, 252, 252);
        border-radius: 0;
        
        transform: rotate(0deg);
    }

    .back-image{
        width: var(--back-image-size);

        opacity: 0;

        filter: blur(10px);

        transform: translateX(-100%) rotate(50deg);
        transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
        transition-delay: 100ms;

        z-index: 12;
    }

    .back-image:hover{
        width: var(--back-image-size-hover);

        box-shadow: 0 0 150px rgb(255, 255, 255);
        border-radius: 0;

        filter: blur(0);
        
        transform: rotate(-20deg);

        z-index: 14;
    }
}

.front-image.show{
    filter: blur(0);
    opacity:1;
    transform: rotate(-5deg) translateX(0);
}

.back-image.show{
    filter: blur(2px);
    opacity:1;
    transform: rotate(-25deg) translateX(0);
}

.history-container{
    width: 500px;

    opacity: 1;
    
    h3{
        opacity: 0;

        font-size: 13px;

        margin-bottom: 20px;

        color: rgb(170, 170, 170);

        transform: translateY(100%);
        transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    h1{
        opacity: 0;

        font-size: 40px;

        margin-bottom: 20px;

        color: rgb(253, 253, 253);

        transform: translateY(100%);
        transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    p{
        opacity: 0;

        color: rgb(253, 252, 252);
        margin-bottom: 18px;

        transform: translateY(100%);
        transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
}

.history-container h3.show{
    opacity: 1;

    transform: translateY(0);
    transition-delay: 800ms;
}

.history-container h1.show{
    opacity: 1;
    
    transform: translateY(0);
    transition-delay: 1000ms;
}

.history-container p.show{
    opacity: 1;

    transform: translateY(0);
    transition-delay: 1200ms;
}

@media (max-width: 1040px) {

    .container-about {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        --front-image-size: 200px;
        --front-image-size-hover: 230px;
        --front-image-box-shadow: 10px;
        --back-image-size: 220px;
        --back-image-size-hover: 240px;
        --back-image-box-shadow: 15px;
    }

    .image-container {
        width: 100%;
        height: 450px;
    }

    .history-container {
        width: 100%;
        height: auto;
    }



    .history-container{
        
        h3{
            font-size: 14px;

            margin-bottom: 20px;

            color: rgb(170, 170, 170);
        }

        h1{
            font-size: 35px;
        }

        p{
            margin-bottom: 18px;
        }
    }

}